*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
}
:root{
    --primary-clr: #ffff66;
    --secondary-clr: #ffde38;
    --tertiary-clr: hsl(206, 100%, 6%);
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    background: linear-gradient(to right, var(--secondary-clr), var(--primary-clr));
}
#navigation p{
    font-size: 1.5rem;
    text-transform: uppercase;
    background: var(--tertiary-clr);
    color: var(--secondary-clr);
    padding: 0 0.2rem 0 0.2rem;
}
#navigation .navbar ul{
    display: flex;
}
#navigation .navbar ul li{
    font-size: 1.2rem;
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.3rem;
    transition: all 0.5s ease;
    border-radius: 0.7rem;
}
#navigation .navbar ul li:hover{
    cursor: pointer;
    background: var(--tertiary-clr);
    color: var(--secondary-clr);
}
#hero{
    width: 100%;
    height: 100vh;
    background: url(./img/layered-waves-haikei\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#hero .container{
    padding: 1.2rem;
}
#hero .container .row{
    display: flex;
    justify-content: space-between;
}
#hero .container .row .hero-img{
    width: 45%;
    height: auto;
}
#hero .container .row .hero-img img{
    width: 45rem;
    padding: 3rem 3rem 0 0;
}
#hero .container .row .hero-text{
    width: 45%;
    height: auto;
}
#hero .container .row .hero-text h1{
    font-size: 5rem;
    color: var(--primary-clr);
    padding: 8rem 0 0 0;
    text-transform: uppercase;
}
#hero .container .row .hero-text .hero-btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--secondary-clr);
    padding: 0.9rem;
    background: var(--tertiary-clr);
    margin-top: 1.2rem;
    margin-right: 0.6rem;
    border: 2px solid var(--secondary-clr);
    border-radius: 2rem;
    transition: all 0.5s;
}
#hero .container .row .hero-text .hero-btn:hover{
    background: var(--secondary-clr);
    color: var(--tertiary-clr);
    cursor: pointer;
}