*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary-clr: #ffff66;
    --secondary-clr: #ffde38;
    --tertiary-clr: #00111f;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: var(--tertiary-clr);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-clr);
    border-radius: 1rem;
    border: 0.3rem solid transparent;
    background-clip: content-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.fill{
    width: 250px;
    height: 250px;
    background: var(--tertiary-clr);
    border: 8px solid var(--primary-clr);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.home-fill-content{
    width: 180px;
    height: 180px;border: 10px solid var(--primary-clr);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    background: linear-gradient(to right, var(--secondary-clr), var(--primary-clr));
    position: sticky;
    top: 0;
    z-index: 4;
}
#navigation p{
    font-size: 1.5rem;
    text-transform: uppercase;
    background: var(--tertiary-clr);
    color: var(--secondary-clr);
    padding: 0 0.2rem 0 0.2rem;
}
#navigation .navbar ul{
    display: flex;
}
#navigation .navbar ul li a{
    font-size: 1.2rem;
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.3rem;
    transition: all 0.5s ease;
    border-radius: 0.7rem;
    color: var(--tertiary-clr);
}
#navigation .navbar ul li a:hover{
    cursor: pointer;
    background: var(--tertiary-clr);
    color: var(--secondary-clr);
}
.menu-icons{
    display: none;
}
#menu-bar{
    color: var(--tertiary-clr);
    font-size: 1.7rem;
}
#menu-cross{
    color: var(--tertiary-clr);
    font-size: 1.7rem;
}

@media (max-width: 750px) {
    #navigation .navbar ul{
        flex-direction: column;
        position: absolute;
        padding: 2rem 0;
        text-align: center;
        left: 0;
        top: -500px;
        right: 0;
        background: linear-gradient(to right, var(--seconary-clr), var(--primary-clr));
        transition: all 0.5s;
    }
    #navigation .navbar ul li a{
        line-height: 4rem;
    }
    #navigation .navbar ul li a:hover{
        background: var(--tertiary-clr);
        color: var(--secondary-clr);
    }
    .menu-icons{
        display: block;
    }
    #menu-cross{
        visibility: hidden;
    }
    #menu-cross:hover{
        cursor: pointer;
    }
    #menu-bar:hover{
        cursor: pointer;
    }
}

#home{
    position: relative;
    border-bottom: 8px solid var(--primary-clr);
    background: var(--tertiary-clr);
}
.rectangle{
    width: 100%;
    height: 220px;
    background: var(--primary-clr);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.home-container{
    padding-block: 1rem 3rem;
}
.home-fill{
    justify-self: center;
    z-index: 3;
}
.home-img{
    width: 170px;
}
.home-info{
    row-gap: 0.75rem;
    text-align: center;
}
.home-name{
    font-size: 2.2rem;
    color: var(--secondary-clr);
    text-transform: uppercase;
}
.home-txt{
    font: 1.25rem;
    color: var(--secondary-clr);
    text-transform: uppercase;
}
.home-social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.social-link{
    font-size: 1.5rem;
    color: var(--secondary-clr);
    transition: color 0.4s;
}
.social-link:hover{
    color: var(--primary-clr);
}
.home-btn{
    justify-self: center;
    font-size: 1rem;
    display: inline-block;
    background: var(--secondary-clr);
    color: var(--tertiary-clr);
    padding: 1rem 2rem;
    border-radius: 3rem;
    text-transform: uppercase;
    transition: all 0.4s;
}
.home-btn:hover{
    background: var(--primary-clr);
    cursor: pointer;
    box-shadow: 0 0 0.2rem var(--secondary-clr);
}
@media screen and (min-width:1150px) {
    .home-fill{
        width: 430px;
        height: 430px;
        border-width: 15px;
    }
    .home-fill-content{
        width: 330px;
        height: 330px;
        border-width: 20px;
        z-index: 4;
    }
    .home-img{
        width: 300px;
    }
    .rectangle{
        width: 30vw;
        height: 100%;
    }
    .home-container{
        position: relative;
        grid-template-columns: 500px 300px;
        align-items: center;
        column-gap: 4rem;
        padding-block: 3.5rem 8rem;
    }
    .home-content{
        row-gap: 1rem;
    }
    .home-info{
        row-gap: 1rem;
        text-align: initial;
    }
    .home-social{
        flex-direction: column;
        row-gap: 1.5rem;
        position: absolute;
        top: -4rem;
        bottom: 0;
        right: 0;
    }
    .home-btn{
        justify-self: flex-start;
    }
}
@media screen and (min-width:1500px) {
    .rectangle{
        width: 33vw;
    }
}
@media screen and (min-width:2048px) {
    .rectangle{
        width: 40vw;
    }
}
#services{
    width: 100%;
    height: auto;
    background: var(--tertiary-clr);
}
#services h1{
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
    padding: 1rem 0rem 1rem 0rem;
    background: linear-gradient(to right, var(--secondary-clr), var(--primary-clr));
    color: var(--tertiary-clr);
    margin: 0 0 2rem 0;
    border-radius: 2rem;
}
#services .container{
    padding: 3rem;
}
#services .container .row{
    display: flex;
    justify-content: space-between;
}
#services .container .row .service-card{
    text-align:center;
    width: 31%;
    height: 25rem;
    margin: 0 0.3rem 0 0.3rem;
    background: linear-gradient(to top right, var(--secondary-clr) 50%, var(--primary-clr) 70%);
    padding: 1.2rem;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
}
#services .container .row .service-img{
    height: 10rem;
    padding: 0.7rem;
}
#services .container .row h3{
    text-transform: uppercase;
    color: var(--tertiary-clr);
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
}
#services .container .row p{
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
}
#services .container .row .service-card:hover{
    cursor: pointer;
    width: 32%;
}
#platforms{
    text-align: center;
    width: 100%;
    padding: 1rem 10rem;
    background: linear-gradient(to bottom left, var(--secondary-clr) 50%, var(--primary-clr) 70%);
}
#platforms .container{
    border-radius: 3rem;
    background: var(--tertiary-clr);
}
#platforms p{
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 1rem;
    color: var(--secondary-clr);
}
#platforms .row{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content:center;
    padding: 0 5rem;
}
#platforms .row img{
    width: 5rem;
    margin: 1rem 3rem;
}
#reviews{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    background: url(./img/exploding-burger-with-vegetables-melted-cheese-black-background-generative-ai_157027-1734.avif) var(--tertiary-clr);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#reviews h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secondary-clr);
    padding: 1.5rem 0;
}
#reviews .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#reviews .ratings{
    width: 29%;
    height: 18rem;
    background: linear-gradient(to top right, var(--secondary-clr) 50%, var(--primary-clr) 70%);
    border-radius: 2rem;
    text-align: center;
}
#reviews .container .ratings h1{
    color: var(--tertiary-clr);
    margin-bottom: 0;
}
#reviews .container .ratings h2{
    color: var(--tertiary-clr);
    font-size: 5rem;
    margin-bottom: 1rem;
}
#reviews .container .ratings .fa-star{
    font-size: 2.5rem;
    color: var(--tertiary-clr);
}
#reviews .testimonials{
    width: 70%;
    height: 18rem;
    background: linear-gradient(to top left, var(--secondary-clr) 50%, var(--primary-clr) 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-radius: 2rem;
}
.testimonial-container{
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1rem;
}
#reviews .container button{
    font-size: 1.6rem;
    height: 2.2rem;
    width: 2.2rem;
    background-color: var(--tertiary-clr);
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: var(--secondary-clr);
    cursor: pointer;
    border-radius: 2rem;
}
.testimonial-container p{
    color: var(--tertiary-clr);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
}
.testimonial-container img{
    display: block;
    margin: 0.7rem auto;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.testimonial-container h3{
    color: var(--tertiary-clr);
    font-size: 1.5rem;
    text-align: center;
}
#about{
    width: 100%;
    height: auto;
    padding: 2rem;
    background: var(--secondary-clr);
}
#about .container{
    background: var(--tertiary-clr);
    padding: 2rem;
    border-radius: 1.3rem;
}
#about .container .row{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#about .container .row .about-img{
    width: 50%;
}
#about .container .row .about-img img{
    width: 30rem;
    height: 20rem;
    border-radius: 1.2rem;
}
#about .container .row .about-text{
    width: 50%;
}
#about .container .row .about-text h3{
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.3rem;
    color: var(--tertiary-clr);
    text-transform: uppercase;
    margin: 0.5rem 0;
    background: var(--secondary-clr);
}
#about .container .row .about-text h1{
    font-size: 2rem;
    margin: 0.5rem 0;
    color: var(--secondary-clr);
}
#about .container .row .about-text p{
    font-size: 1.3rem;
    color: var(--secondary-clr);
}
#about .container .row .about-text button{
    color: var(--secondary-clr);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.6rem;
    margin: 0.7rem 0;
    background: transparent;
    border: 1px solid var(--secondary-clr);
    border-radius: 1rem;
    transition: all 0.5s ease-in;
}
#about .container .row .about-text button:hover{
    background: var(--secondary-clr);
    color: var(--tertiary-clr);
    cursor: pointer;
    box-shadow:  0 0 0.3rem var(--secondary-clr);
    font-size: 1.6rem;
}
#contact{
    width: 100%;
    height: auto;
    padding: 2rem;
    background: url(./img/contact-img.jpg) var(--tertiary-clr);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#contact .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .container .row .contact-details{
    width: 40%;
    text-align: start;
}
#contact .container .row .contact-details .element{
    padding: 1.2rem;
}
#contact .container .row .contact-details .element .fa-solid{
    font-size: 1rem;
    color: var(--tertiary-clr);
    background: var(--primary-clr);
    padding: 0.3rem;
    border-radius: 2rem;
}
#contact .container .row .contact-details .element h3{
    color: var(--primary-clr);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
#contact .container .row .contact-details .element h3 span{
    margin: 0 0.3rem 0 0;
}
#contact .container .row .contact-details .element p{
    color: var(--primary-clr);
    font-size: 1.3rem;
}
#contact .container .row .contact-form{
    width: 55%;
    background: linear-gradient(155deg, var(--primary-clr), var(--secondary-clr) 70%);
    text-align: center;
    border-radius: 1.2rem;
    padding: 1rem;
}
#contact .container .row .contact-form h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--tertiary-clr);
}
#contact .container .row .contact-form hr{
    background: var(--tertiary-clr);
    height: 0.3rem;
    width: 40%;
    position: relative;
    left: 30%;
}
#contact .container .row .contact-form form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#contact .container .row .contact-form form .contact-element{
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    background-color: var(--tertiary-clr);
    border-style: none;
    color: var(--primary-clr);
    border-radius: 1rem;
    outline: none;
}
#contact .container .row .contact-form form textarea{
    height: 10rem;
}
#contact .container .row .contact-form form .contact-element::placeholder{
    color: var(--primary-clr);
}
#contact .container .row .contact-form form .contact-btn{
    display: inline;
    font-size: 1.2rem;
    width: 20%;
    padding: 0.3rem;
    text-transform: uppercase;
    color: var(--primary-clr);
    background: var(--tertiary-clr);
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
}